@import "bootstrap";
@import "bootstrap-icons";

.bg-color-trip-list {
  background-color: rgb(216, 214, 212);
}

.card-body {
  background-color: rgb(221, 182, 124);
}

.bg-color-Jumbotron {
  background-color: rgb(96, 222, 180);
}

h1,
h3 {
  font-family: "TASA EXPLORER", SAN-SEFIR;
  font-weight: bold;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

a {
  text-decoration: none;
}
